<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @demo.name %>
</p>

<p>
  <b>Age:</b>
  <%= @demo.age %>
</p>

<p>
  <b>Sex:</b>
  <%= @demo.sex %>
</p>

<p>
  <a href="<%= edit_demo_path(@demo) -%>" class="btn btn-primary btn-large">编辑</a>
  <a href="<%= demos_path -%>" class="btn btn-primary btn-large">返回</a>
</p>