<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Customer IQ</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller], :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] -%>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Customer IQ</a>

      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <!--Logged in as <a href="#" class="navbar-link">Username</a>-->
          <a href="#loginPanel" class="navbar-link" data-toggle="modal">
            <i class="icon-user icon-white"></i>
            Login
          </a>
        </p>
        <ul class="nav">
          <li class="active">
            <a href="/main/index"><i class="icon-home icon-white"></i>Home</a>
          </li>
          <li>
            <a href="#about">
              <i class="icon-thumbs-up icon-white"></i>
              About
            </a>
          </li>
          <li><a href="#contact">
            <i class="icon-envelope icon-white"></i>
            Contact
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">常用功能</li>
          <li class="<%= @usermanger ? 'active' : '' -%>">
            <a href="<%= demos_path -%>">用户管理</a>
          </li>
          <li><a href="#">权限管理</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">系统设置</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">其它</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
    <div class="span10">
      <div class="hero-unit">
        <%= yield -%>
      </div>
    </div>
  </div>
</div>


<div id="loginPanel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Welcome To Login</h3>
  </div>
  <div class="modal-body">
    <div class="container" style="width:520px;">
      <form class="form-signin">
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#loginPanel').on('shown', function(){
    var form = $("form.form-signin");
    form.children('input').first().focus();
  })
</script>

</body>
</html>
